@charset "UTF-8";

/*  CLASSICAL SEVENSI skin for LREC viewer  */

*:root {
    font-size: 14pt;
    line-height: 1.35;
    font-family: Junicode, Cardo, "Iowan Old Style", serif;
    font-variant-numeric: oldstyle-nums;
}

#dictionary-subtite:empty, #dictionary-description:empty, #dictionary-description:empty + hr, #dictionary-splash:empty, #dictionary-author:empty, #dictionary-date:empty, #dictionary-frame:not([src]) {
}

#dictionary-root {
    border-color: #777899;
    background: #999ABC;
}

#dictionary-body {
}

#dictionary-header {
    background: #EEE8DD;
}

#dictionary-title {
}

#dictionary-title-link {
}

#dictionary-subtitle {
}

#dictionary-topbar {
    background: #EBEBEB;
    border-color: #535555;
    font-size: 11.9pt;
}

#dictionary-splash {
}

#dictionary-sidebar {
    border-color: #555666;
    background: #EEE8DD;
    font-size: 12.6pt;
}

#dictionary-description {
}

#dictionary-search-and-navigation {
    padding: .2em 0;
    background: #CCCCCC;
}

#dictionary-search {
    box-sizing: border-box;
    margin: .1em;
    border: thin #A0A0A0 solid;
    padding: 0 .8em;
    width: calc(100% - .2em);
	color: black;
    background: #DDDDDD;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

#dictionary-tags {
    box-sizing: border-box;
    margin: .1em auto;
    border: thin #A0A0A0 solid;
    padding: 0 .8em;
    width: calc(100% - .2em);
	color: black;
    background: #DDDDDD;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#dictionary-tags > optgroup {
    margin: 0;
    border: none;
    padding: 0;
    background: #CCCCCC;
    overflow: auto;
}

#dictionary-tags > optgroup::before {
    text-align: center;
    content: attr(label) ":";
}

#dictionary-tags > optgroup.subgroup {
    padding: 0 1.6em;
}

#dictionary-tags > optgroup.subgroup::before {
    font-size: 11.9pt;
    content: "> " attr(label) " <";
}

#dictionary-tags * {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

#dictionary-tags option {
    margin: .1em;
    border: thin #A0A0A0 solid;
    padding: 0 .8em;
    height: 1.35em;
	color: black;
    background: #DDDDDD;
}

#dictionary-tags option:checked {
    background: #F6F6F6;
}

#dictionary-navigation {
}

#dictionary-navigation > a {
    margin: .1em;
    border: thin #A0A0A0 solid;
    padding: 0 .8em;
	color: black;
    background: #DDDDDD;
    font-size: inherit;
    line-height: inherit;
}

#dictionary-navigation > a:hover {
    background: #F6F6F6;
}

#dictionary-content {
    border-color: #555666;
    background: #EEEEEE;
}

#dictionary-frame {
}
